.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.main-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
